CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000


# Custom Chinese Speech Commands
CONFIG_CN_SPEECH_COMMAND_ID1="da kai qian bei xiang"
CONFIG_CN_SPEECH_COMMAND_ID2="da kai cang men"
CONFIG_CN_SPEECH_COMMAND_ID3="kai xiang"
CONFIG_CN_SPEECH_COMMAND_ID4="bang wo kai deng"
